<br>
<div class="row">
    <div class="col-md-9">
        <div class="alert alert-info" role="alert">
            <strong>Hey Listen!</strong> This site does not provide download links.
        </div>
        <ng-repo-systemsbox></ng-repo-systemsbox>
    </div>
    <div class="col-md-3">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Status</h3>
            </div>
            <div class="box-body">
                <p-chart type="pie" [data]="data"></p-chart>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Summary</h3>
            </div>
            <div class="box-body">
                <table class="table table-sm">
                    <tbody>
                    <tr>
                        <th>Systems</th>
                        <td>36</td>
                    </tr>
                    <tr>
                        <th>Roms</th>
                        <td>1677421</td>
                    </tr>
                    <tr>
                        <th>Have</th>
                        <td>1677421</td>
                    </tr>
                    <tr>
                        <th>Fail</th>
                        <td>421</td>
                    </tr>
                    <tr>
                        <th>Missing</th>
                        <td>1677421</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>2.24 Tb</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>