<nav #navbar id="navbar" class="pull-md-right">
    <!-- <a href="#"><i class="fa fa-folder-open" aria-hidden="true"></i><span>Archive</span></a> -->
    <a routerLink="/repo" routerLinkActive="active"><i class="fa fa-gamepad" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Preservation Project"></i></a>
    <a href="http://www.github.com/joseluisluri" data-toggle="tooltip" data-placement="bottom" title="OpenSource Projects"><i class="fa fa-github-alt"></i> <span>Projects</span></a>
    <a routerLink="/played" routerLinkActive="active"><i class="fa fa-trophy" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Games Played History"></i> <span>Game Played History</span></a>
    <a routerLink="/status" routerLinkActive="active"><i class="fa fa-heartbeat" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Server Status"></i> <span>Status</span></a>
    <!-- <a href="#"><i class="fa fa-link" aria-hidden="true"></i> <span>Mirroring</span></a> -->
</nav>